---
- name: "Set up everything"
  hosts: "{{ target if target is defined else 'servers' }}"
  become: true
  vars:
    server_privkey: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62333937653163656539313561643734653765636631616637376266613563326339653335356630
          3366303030646632626634373335623933663263376263320a333434643765646330613734653431
          38663964646338306533366532303465656461616339653361393839373737616362383465333062
          3863626339613263380a313331366631623434306262323039383535376433303134613135643035
          34613136383635386263386636333133663537633236303632393466646263346366613838643632
          3533353466306231633561623935636331373962393766313538
    server_pubkey: JoPOAe2tHC/i2owVexN+Vntc5xrb586z8ZiDg337Jyc=
    clients:
      - name: mikrotik
        client_privkey: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          30346162393133353031393336653336356132353364643130363835386239633962376165343133
          3366613230316563663361376130353838623031636265380a626233656437303466643237343265
          65363662363432323366346637626338616266316638643662643464393731353833653162346231
          6661616462316530380a613938343731333837633030373839653862363561626433303462366231
          35306264396130663631376134666332313964653435613837356430356561396664656137373566
          6534386534366566623932343338643863326131386431363663
        client_pubkey: Irhk+HJORYaB+0XPoi2rv0XZU9boXuV9sgUxKZjuNlU=
    gh_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64363335393463366533383164386463393562303731613633393633373032633863316433613462
          6338616363643831633061653234383337383636643437320a326230663435393835653034383662
          35613637653331653465663563363566643030386138373536313438313039333861623363313531
          6434343865646535380a666539313836653730373062356639613164323731346362366635653166
          62663765633862386266393633633063623134393361356535383237663163363834393364386632
          6361343365356662653234326165633461303664616234656564
  roles:
    - basic
    - wireguard
    - iptables-legacy
    - ufw
    - k3s

