---
- name: "Set up everything"
  hosts: "{{ target if target is defined else 'servers' }}"
  become: true
  vars:
    server_privkey: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39623562663362303839346539316165346635626238666536316637353936346366303138363166
          3634643233623135323864663534346565346138373361660a383731653462613062303534316635
          65326231313564363534633262383734666337373133616339303138633333363861393131303237
          3236353666356566300a343633303234376639656531613364393163636561666336366661393631
          34636233633935613562356335626531346338633235353464383736626237666464663837653666
          3131653831373335303936306566393463343739306338633064
    server_pubkey: SS7fUXv5/Df9yhkC0htHeEGIDLhyx3iEd542fAK7RhI=
    clients:
      - name: mikrotik
        client_privkey: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          61373538376531613264636533613132666634343938356235353939346364666232353332306464
          3831353266666334636466303539323034616238346437640a333031366537373738383730616336
          33383838626365636534643738316535373833316238323339363361313631343939396335626230
          6535366238313961350a366562656238303365613837356238316166366663313237616163376131
          34663031623930393434393330663332623062613135323164653662323666313133633465363032
          3366656631313038343532306638323962653535383234616132
        client_pubkey: M8vsnfZ12QBAXXgn0+ewI0CEIdEYsWx/ZLORRqnsGDw=

  roles:
    - basic
    - wireguard
    - ufw

